*{
    padding: 0.5;
    margin: 0.5;
    box-sizing: border-box;
}

header{
    background-color: rgba(0, 157, 248, 0.952);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 75px;
    width: 800;
}

.header-logo{
    width: 175px;
    background-color: rgba(0, 157, 248, 0.952);
    background-image: url("../html-css-booleaner/img/pattern.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.color-aqua{
    color: rgb(0, 183, 255);
}

.color-grey{
    color: rgb(117, 116, 116);
}

.bcolor-yellow{
    background-color: rgb(243, 243, 9);
}

.bcolor-blue{
background-color: rgb(0, 119, 255);
color: rgb(0, 195, 255);
height: 5px;
width: 175px
}

.spazio{
    width: 175px;
}

.bcolor-acqua{
    background-color: rgb(0, 204, 255);
    width: 175px
}

.immagine_1{
    width: 200px;
    height: 200px;
    background-image: url("../html-css-booleaner/img/monitor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: aliceblue;
}

.immagine_2{
    width: 200px;
    height: 200px;
    background-image: url("../img/graph.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: aliceblue; 
    
}